@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

body {
    background-color: $primary-yellow;
    margin: 0;
    padding: 3%;
    margin-left: 15%;
    margin-right: 10%;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}