@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


.card {
    @include box-base;
    background-color: $primary-white;
}

.card3d {
    background-color: $primary-blue;
    min-height: 60%;
    min-width: 100%;
}

#card-label {
    margin: 0;
    margin-top: 0.8em;
    text-align: center;
}