@use '../base/typograhpy' as *;

.home-section {
    @include league-spartan-bold-blue;
    display: grid;
    gap: 1em;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);

}